.extend_goods_item{
	width: 100%;height: 4rem;
}
.extend_goods_item .image{
	width: 4rem;
    height: 4rem; 
    float:left; 
	border-radius: 0.2rem;
}
.extend_goods_item .goodsInfo{
	padding-left: 10px; 
	float: left;
	display: contents;
    width: 100%;
}
.extend_goods_item .goodsInfo>div{
	padding-left: 0.7rem;
}
.extend_goods_item .goodsInfo .name{
	height: 2.4rem;
    line-height: 1.2rem;
    overflow: hidden;
    text-align: left;
}
.extend_goods_item .goodsInfo .priceDiv{
    float: left;
    width: 100%;
    display: contents;
}
.extend_goods_item .goodsInfo .priceDiv{
    padding-top:0.3rem;
}
.extend_goods_item .goodsInfo .priceDiv>div{
	padding-top: 0.15rem;
}
.extend_goods_item .goodsInfo .priceDiv .price{
	padding-left: 0.7rem;
    float:left;
}
.extend_goods_item .goodsInfo .priceDiv .sendButtonDiv{
    float:right;
	margin-right: 0.3rem;
}
.extend_goods_item .goodsInfo .priceDiv .sendButtonDiv>button{
	background-color: #e04b90;
    border-style: none;
    border-radius: 0.15rem;
    color: aliceblue;
}

/* 在chat聊天框中，隐藏发送按钮 */
.chat .extend_goods_item .goodsInfo .priceDiv .sendButtonDiv{
    display:none;
}